@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Auth.cshtml";
}


    <div class="mb-3">
        <label for="UserName" class="form-label">User Name</label>
        <input type="text" class="form-control" id="UserName" placeholder="Enter User Name.....">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Password.....">
    </div>

    <div class="mb-3">
        <label for="password" class="form-label"> Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter Password.....">
    </div>

    <div class="mb-3">
        <label for="repassword" class="form-label"> Re-Password</label>
        <input type="password" class="form-control" id="repassword" placeholder="Enter Repeat Password.....">
    </div>

