<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    
    <section class="border-dark-subtle">



        <div class="container">
            <center class="bg-black text-white my-3 p-2 rounded-2">@ViewBag.Title</center>
            @RenderBody()
         
        </div>

    </section>
</body>
</html>
